<p>This is the partial for view 1.</p>

<ul>
  <li ng-repeat="item in items">
    <form role="form" ng-submit="updateItem(item)">
      As a <input type="text" ng-model="item.role" ng-value="item.role" ng-change="itemEdited(item)" /><!--
      --> I want <input type="text" ng-model="item.feature" ng-value="item.feature" size="50" ng-change="itemEdited(item)" /><!--
      --><input type="submit" ng-class="item.edited" value="Update Item" />
    </form>
    <ul>
      <li ng-repeat="task in item.tasks">
        <form role="form" ng-submit="updateTask(task)">
          Task:<input type="text" ng-model="task.title" ng-value="task.title" size="50" ng-change="taskEdited(task)"/><!--
          --> Assignee:<input type="text" ng-model="task.assignee" ng-value="task.assignee" ng-change="taskEdited(task)"/><!--
          --><input type="submit" ng-class="task.edited" value="Update Task" />
        </form>
      </li>
      <li>
        <form role="form" ng-submit="createTask(item)">
          Task:<input type="text" ng-model="item.newTask.title" placeholder="Task" size="50" /><!--
          --> Assignee:<input type="text" ng-model="item.newTask.assignee" placeholder="Assignee" /><!--
          --><input type="submit" value="Add Task" />
        </form>
      </li>
    </ul>
  </li>
  <li>
		<form role="form" ng-submit="createItem(newItem)">
			Item: As a <input type="text" ng-model="newItem.role" placeholder="As a ..." /><!--
			--> I want <input type="text" ng-model="newItem.feature" placeholder="I want to ..." size="50" /><!--
      --><input type="submit" value="Add Item" />
		</form>
	</li>
</ul>
